.cb-sidebar {
	position: fixed!important;
	top: 0!important;
	right: 0!important;
	z-index: 999999999!important;
	height: 100%!important;
	overflow-y: scroll;
	overflow-x: hidden;
	background: rgba(255, 255, 255, 0.92)!important;
}

#cb-sidebar-container {
	left: 0%!important;
	width: 350px!important;
	height: 100%!important;
	border-left: 2px #ccc solid!important;
	box-shadow: -5px 0px 10px 1px #EBEBEB!important;
	padding: 5px!important;
	transition: all 0.5s ease!important;
    position: relative!important;
  
  -webkit-transition: left 1s!important;
  -moz-transition: left 1s!important;
  -o-transition: left 1s!important;
  transition: left 1s!important;
  overflow-x: hidden;
}

.hidden > #cb-sidebar-container {
	left: 200%!important;
}

.cb-sidebar-close {
	padding: 5px!important;
	position: absolute!important;
	right: 0!important;
	top: 0!important;
	cursor: pointer!important;
}

.evernote-body {
	border: 2px;
	margin: 15px;
	padding: 10px;
	width: 90%;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 10px #719ECE;
}

.evernote-body:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

.create-note {
	background: rgba(45, 190, 96, 0.8)!important;
	border:1px solid #268a16!important;
	width: 90%!important;
	display: block!important;
	margin-left: auto!important;
	margin-right: auto!important;
	color:#fff!important;
	font-family:Arial!important;
	font-size:15px!important;
	font-weight:bold!important;
	font-style:normal!important;
	line-height:25px!important;
	text-decoration:none!important;
	text-align:center!important;
}

.cb-loading-circle {
	width: 300px!important;
}

.cb-header {
	margin-top: 15px!important;
	font-size: 15px!important;
	width: 100%!important;
	border-bottom: 1px #ccc solid!important;
}

.cb-newsTable{
	font-size:10px!important;
}

.wu-cb-styles a:hover{
	text-decoration: none!important;
}

.cb-header a{
	text-decoration: none;
	color: #000;
}

.cb-header a:hover{
	text-decoration: none;
}

.cb-crunchbase-info-table{
	width:100%;
}

.cb-sidebar p {
	color: #000;
	line-height: normal;
}