         .companyTooltip {
            display: none;
            z-index:999999999;
            font-size: 10pt;
            font-family: Arial;
            position: absolute;
            padding: 5px 10px;
            width: 275px;
            color: black;
            line-height: normal;
            background: rgba(240, 240, 240, 0.9);
            border: 1px #ccc solid;
            border-radius: 10px;
         }

         .companyTooltip  p {
            margin: 3px;
         }

         .companyTooltip table {
            font-size: 10pt;
         }
         .companyTooltip td {
            vertical-align: top;
         }

         .companyTooltip img {
            max-width: 100px;
            max-height: 75px;
         }

         .companyImgdiv {
            padding: 10px;
            width: 150px;
         }

.CompanyExt{
   border: 1px #ccc solid;
   padding: 3px;
   border-radius: 3px;
   background: #FBFFB7;
}